body {
    margin: 0px auto;
    width: 90%;
}
.wrap
{
    margin : 0 auto;
    text-align: center;
}

.display, .menu
{
    text-align: center;
}

input[name="input"]
{
    width:100%;
    height:2em;
    font-size:24px;
    border:2px solid black;
    text-align: right;
    color: red;
}

input[type="submit"]
{
    padding:10px;
    width: 65px;
    margin-top: 10px;
    font-size:20px;
    border-radius: 10px 33px 100px;
    background-color: cornsilk;
}

h1
{
    text-align: center;
    font-size: 1.5em;
}

h3
{
    margin-top:3em;
}

form
{
    border: 5px solid beige;
    border-radius: 10px;
    width: 27%;
    padding: 20px;
    margin:0 auto;
    box-shadow: 17px 22px 45px;
    background-color: aliceblue;
}
#out
{
    color: red;
    background-color: lightgray;
    border-radius: 1em;
    width: 5em;
}
