*
{
    margin: 0;
    padding: 0;
}
body
{
    width:90%;
    margin: 0 auto;
    background-image: url("https://images.alphacoders.com/118/118761.jpg");
}
form
{
    width:30%;
    margin: 0 auto;
    border:2px solid black;
    padding: 40px;
    margin-top: 3em;
    background-color: aliceblue;
    font-size: 1.5em;
}
input[type="submit"]
{
    padding:10px;
    width: 95px;
    margin-top: 10px;
    font-size:20px;
    border-radius: 23px ;
    background-color: cornsilk;
    margin-left:138px
}

span
{
    color:red;
    font-size: 12px
}

h1
{
    text-align: center;
    color:grey;
}
#name
{
    margin-left: -23px;
}

a
{
    text-decoration: none;
    font-size:14px;
    color:green;
}
a:hover
{
    color:brown;
}

#mbl
{
   margin-left: 25px;
}
#sht
{
    margin-left: 67px;
}
#eml
{
    margin-left: 10px;
}
#nm1
{
    margin-left: -22px;
}
.inp {
    height:1.6em;
    font-size:15px;
    border:2px solid grey;
}
